<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.com">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Product no 1 </title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Additional CSS Files -->

    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!--

    Host Cloud Template

    https://templatemo.com/tm-541-host-cloud

    -->
</head>

<body>

<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/index"><h2>Price <em>List</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index/products">Our Products and Prices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="functional-buttons">
                <ul>
                    <li><a href="/index/login">Log in</a></li>
                    <li><a href="/index/signup">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Page Content -->
<!-- Heading Starts Here -->
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><a class="nav-link" href="/index/products/product2/add">Add product type 1</a></h1>
                <h1>Product type 1 configuration</h1>
                <div class="card">
                    <form class="form_settings">
                        <div class="ui-fluid p-formgrid p-grid">
                            <div class="p-field p-col-12 p-md-4">
                                <label value="Size"/>Size</label>
                                <select id="optionS" value="#{selectOneMenuView.selectedOption}">

                                    <option value="Option1" itemValue="Option1">9</option>
                                    <option value="Option2" itemValue="Option2">20</option>
                                    <option value=="Option3" itemValue="Option3">50</option>
                                    <option value=="Option4" itemValue="Option4">50</option>
                                    <option value=="Option5" itemValue="Option5">100</option>
                                    <option value=="Option6" itemValue="Option6">200</option>
                                    <option value=="Option7" itemValue="Option7">400</option>
                                    <option value=="Option8" itemValue="Option8">800</option>
                                </select>
                                <input type="submit" value="Submit">
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <label value="Housing"/>Housing</label>
                                <select id="optionH" value="#{selectOneMenuView.selectedOption}">

                                    <option value="Option1" itemValue="Option1">PE</option>
                                    <option value="Option2" itemValue="Option2">PTFE</option>

                                </select>
                                <input type="submit" value="Submit">
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <label value="Diaphragm"/>Diaphragm</label>
                                <select id="optionD" value="#{selectOneMenuView.selectedOption}">

                                    <option value="Option1" itemValue="Option1">NBR</option>
                                    <option value="Option2" itemValue="Option2">PTFE</option>
                                    <option value=="Option3" itemValue="Option3">EPDM</option>
                                    <option value=="Option4" itemValue="Option4">FKM</option>
                                    <option value=="Option5" itemValue="Option5">PTFE TFM 1705B</option>
                                </select>
                                <input type="submit" value="Submit">
                            </div>
                            <div class="ui-fluid p-formgrid p-grid">
                                <div class="p-field p-col-12 p-md-4">
                                    <label value="Valve"/>Valve</label>
                                    <select id="optionV" value="#{selectOneMenuView.selectedOption}">

                                        <option value="Option1" itemValue="Option1">NBR</option>
                                        <option value="Option2" itemValue="Option2">SS</option>
                                        <option value=="Option3" itemValue="Option3">PU</option>
                                        <option value=="Option4" itemValue="Option4">PTFE</option>
                                        <option value=="Option5" itemValue="Option5">EPDM</option>
                                        <option value=="Option6" itemValue="Option6">PTFE TFM 1635</option>
                                        <option value=="Option7" itemValue="Option7">PE1000</option>
                                    </select>
                                    <input type="submit" value="Submit">
                                </div>
                            </div>
                            <div class="ui-fluid p-formgrid p-grid">
                                <div class="p-field p-col-12 p-md-4">
                                    <label value="Connections"/>Connections</label>
                                    <select id="optionC" value="#{selectOneMenuView.selectedOption}">

                                        <option value="Option1" itemValue="Option1">A[STANDARD]</option>
                                        <option value="Option2" itemValue="Option2">B</option>
                                        <option value=="Option3" itemValue="Option3">C</option>
                                        <option value=="Option4" itemValue="Option4">D</option>
                                        <option value=="Option5" itemValue="Option5">E</option>
                                        <option value=="Option6" itemValue="Option6">F</option>
                                        <option value=="Option7" itemValue="Option7">G</option>
                                        <option value=="Option8" itemValue="Option8">H</option>
                                        <option value=="Option9" itemValue="Option9">I</option>
                                        <option value=="Option10" itemValue="Option10">J</option>
                                        <option value=="Option11" itemValue="Option11">K</option>
                                        <option value=="Option12" itemValue="Option12">L</option>
                                        <option value=="Option13" itemValue="Option13">M</option>
                                        <option value=="Option14" itemValue="Option14">N</option>
                                        <option value=="Option15" itemValue="Option15">O</option>
                                        <option value=="Option16" itemValue="Option16">P</option>
                                        <option value=="Option17" itemValue="Option17">R</option>
                                    </select>
                                    <input type="submit" value="Submit">
                                </div>
                            </div>
                            <div class="ui-fluid p-formgrid p-grid">
                                <div class="p-field p-col-12 p-md-4">
                                    <label value="AirValve"/>Air valve</label>
                                    <select id="optionAV" value="#{selectOneMenuView.selectedOption}">

                                        <option value="Option1" itemValue="Option1">Brass/NBR[STANDARD]</option>
                                        <option value="Option2" itemValue="Option2">SS/FKM</option>
                                        <option value=="Option3" itemValue="Option3">PET/FKM</option>
                                        <option value=="Option4" itemValue="Option4">Brass/EPDM</option>
                                        <option value=="Option5" itemValue="Option5">Brass/FKM</option>
                                        <option value=="Option6" itemValue="Option6">PET/FKM s/s shaft</option>
                                        <option value=="Option7" itemValue="Option7">Brass/PET/NBR</option>
                                    </select>
                                    <input type="submit" value="Submit">
                                </div>
                            </div>
                            <div class="ui-fluid p-formgrid p-grid">
                                <div class="p-field p-col-12 p-md-4">
                                    <p>Select additional options:</p>
                                </div>
                            </div>
                            <div>
                                <input type="radio" id="in/outlet" name="option" value="in/out"
                                       checked>
                                <label for="in/outlet">In/outlet</label>
                            </div>

                            <div>
                                <input type="radio" id="valveSeats" name="option" value="valveSeats">
                                <label for="valveSeats">Valve seats</label>
                            </div>

                            <div>
                                <input type="radio" id="ATEX" name="option" value="ATEX">
                                <label for="ATEX">ATEX</label>
                            </div>
                            <div>
                                <input type="radio" id="airSystem" name="option" value="airSystem">
                                <label for="airSystem">Build-on air system</label>
                            </div>
                            <div>
                                <input type="radio" id="Aluminium" name="option" value="Aluminium">
                                <label for="Aluminium">Aluminium center block</label>
                            </div>


                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Heading Ends Here -->


<!-- Footer Starts Here -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-item">
                    <div class="footer-heading">
                        <h2>About Us</h2>
                    </div>
                    <p>Fakecompany is an independent, family owned, Polish manufacturer and global supplier of Air
                        operated diaphragm products, centrifugal products and other industrial process equipment.

                        Fakecompany is a leading product manufacturer with the ambition to provide a wide range of
                        premium products for various industrial applications. With experience from industrial fluid
                        handling and products manufacture since 1980, we know what you as a customer require from an
                        industrial products</p>
                </div>
            </div>


            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-item">
                    <div class="footer-heading">
                        <h2>More Information</h2>
                    </div>
                    <ul class="footer-list">
                        <li>Phone: <a href="tel:+48721228316">010-020-0560</a></li>
                        <li>Address: Rzewuskiego St. 1b3, 83-000 Pruszcz Gdanski, Poland</li>
                        <li>Email: <a href="mailto:mail@fakecompany.com">mail@fakecompany.com</a></li>
                        <li>Support: <a href="mailto:support@fakecompany.com">support@fakecompany.com</a></li>
                        <li>Website: <a href="https://www.fakecompany.com/" target="_blank">www.fakecompany.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="sub-footer">
                    <p>Anna Prusik
                        - Designed by <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Ends Here -->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Additional Scripts -->
<script src="assets/js/custom.js"></script>
<script src="assets/js/owl.js"></script>
<script src="assets/js/accordions.js"></script>


<script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
        if (!cleared[t.id]) {                      // function makes it static and global
            cleared[t.id] = 1;  // you could use true and false, but that's more typing
            t.value = '';         // with more chance of typos
            t.style.color = '#fff';
        }
    }
</script>

</body>
</html>